<div class="page-header">
  <h1>Search for Bands</h1>
</div>

<form action="results" method="get" class="form-search" >
  <input type="text" name="query" placeholder="Enter a band name..." class="search-query">
  <button type="submit" class="btn">Search</button>
</form>
