<div class="hero-unit">
  <h1>Welcome To HipsterMe</h1>
  <p>HipsterMe is a way for you and your friends to share what music they're bumping.</p>
  <a href="/bands"><button class="btn btn-large btn-primary">Check out some bands!</button></a>
</div>
